version: "3.8"

services:
  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium-chrome
    restart: unless-stopped
    shm_size: 2g
    ports:
      - "4444:4444"
    environment:
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_SESSION_TIMEOUT=300
    networks:
      - orec-net

networks:
  orec-net:
    external: true